<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<title>Just-Eat - Cook</title>
	<link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
	<div data-role="header">
		<h1>Cook</h1>
	</div>

	<div style="margin-right: 15%; margin-left: 15%;">
		<p><b>Dish information from the database</b></p>
		<ul data-role="listview" data-count-theme="b" data-filter="true" data-filter-placeholder="Search a dish..."
			data-inset="true" id="listviewDish">
			<!--<li>Whopper Sandwich<span class="ui-li-count">12</span></a></li>-->
		</ul>
	</div>

	<hr style="margin-top: 2%; margin-bottom: 2%; margin-left: 15%; margin-right: 15%;">

	<div style="margin-right: 15%; margin-left: 15%;">
		<p><b>Add / Modify a dish on the menu</b></p>

		<form>
			<ul data-role="listview" data-inset="true">
				<li class="ui-field-contain">
					<label for="name2">Name of the dish:</label>
					<input type="text" name="name2" id="nameDish" value="" data-clear-btn="true">
				</li>
				<li class="ui-field-contain">
					<label for="textarea2">Description of the dish:</label>
					<textarea cols="40" rows="8" name="textarea2" id="textareaDescription"></textarea>
				</li>
				<li class="ui-field-contain">
					<label for="slider2">Quantity:</label>
					<input type="range" name="slider2" id="sliderQuantity" value="0" min="0" max="100" data-highlight="true">
				</li>
				<li class="ui-body ui-body-b">
					<fieldset class="ui-grid-a">
						<div class="ui-block-a"><button type="submit"
								class="ui-btn ui-corner-all ui-btn-a" id="buttonCancel">Cancel</button></div>
						<div class="ui-block-b"><button type="submit"
								class="ui-btn ui-corner-all ui-btn-a" id="buttonSubmit">Submit</button></div>
					</fieldset>
				</li>
			</ul>
		</form>
	</div>

</body>

<script src="javascripts/scriptCook.js"></script>

</html>