<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="stylesheets/Sombre.min.css" />
	<link rel="stylesheet" href="stylesheets/jquery.mobile.icons.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<title>Just-Eat - Customer</title>
	<link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
	<div data-role="page">
		<div data-role="header">
			<h1>Customer</h1>
		</div><!-- /header -->

		<div class="ui-grid-a" style="margin-top: 2%; margin-bottom: 2%;">
			<div class="ui-block-a" style="width: 70%;">

				<div style="margin-right: 2%; margin-left: 2%;">
					<ul data-role="listview" data-split-icon="plus" data-split-theme="a" data-inset="true"
						id="listviewDish">
						<!--
						<li><a href="#">
								<img style="margin-top: 2.5%;"
									src="https://www.whopper.ie/wp-content/uploads/2021/04/BB_STEAKHOUSE-v1_extra_cheese.png">
								<h2>Steakhouse</h2>
								<p>Get yourself down to the Steakhouse. A 100% flame-grilled 100% Irish beef patty
									topped with
									bacon, cheese, crispy onion, Western BBQ sauce, lettuce and tomato. Served in a corn
									dusted
									bun.</p>
								<h2>9.80€</h2>
							</a>
							<a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop" onclick="buttonAddListPay('Steakhouse', 9.80)"></a>
						</li>
						-->
					</ul>
					<div data-role="popup" id="purchase" data-theme="a" data-overlay-theme="b" class="ui-content"
						style="max-width:340px; padding-bottom:2em;">
						<h3>Purchase this dish?</h3>
						<p>Do you want to add this dish to your shopping cart? You can continue with your
							purchase.</p>
						<input type="range" name="slider-1" id="slider-1" data-highlight="true" min="0" max="10"
							value="1">
						<a href="index.html" data-rel="back"
							class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini"
							id="buttonAddListPay">Yes
							I'm hungry</a>
						<a href="index.html" data-rel="back"
							class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Cancel</a>
					</div>
				</div>
			</div>



			<div class="ui-block-b" style="width: 30%;">
				<div style="margin-right: 2%; margin-left: 2%;">
					<table data-role="table" id="table-column-toggle" class="ui-responsive table-stroke">
						<thead>
							<tr>
								<th>N°:</th>
								<th>Dish choose</th>
								<th>Amount</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody id="listTbody">
							<!--
						<tr>
							<th>1</th>
							<td>Steakhouse</td>
							<td>1</td>
							<td>9.80€</td>
						</tr>
						-->
						</tbody>
						<tfoot>
							<tr>
								<td class="right" colspan="3">Total:</td>
								<td class="right"><a id="labelTotalPrice">0.00€</a></td>
							</tr>
						</tfoot>
					</table>
					<button class="ui-btn" id="buttonPay">Pay</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="javascripts/scriptCustomer.js"></script>

</html>