<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="stylesheets/Sombre.min.css" />
	<link rel="stylesheet" href="stylesheets/jquery.mobile.icons.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<title>Just-Eat</title>
	<link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
	<div data-role="navbar" data-grid="c">
		<ul>
			<li><a href="ForYou" id="pageForYou">For you</a></li>
			<li><a href="Login" id="pageLogin">Login</a></li>
			<li><a href="Register" id="pageRegister">Register</a></li>
			<li><a href="Help" class="ui-btn-active" id="pageHelp">Help</a></li>
		</ul>
	</div><!-- /navbar -->

	<div style="margin-right: 50px; margin-left: 50px;">
		<p style="font-size:25px;">Rich Web Applications</p>
		<p>Main Assignment Part 1</p>
		<p>Lecturer: Dr. Kyle Goslin</p>
		<p>Date given: 13/10/2021</p>
		<p>Date due: 10/11/2021</p>
		<p>Weight: 50%</p>

		<p><b>Note:</b> This assignment will be based on work we do in the labs. These are the primary examples to work from. Use the provided sample on Moodle to get started.</p>
		
		<p><b>Project description</b></p>
		<p>JustEat has contacted you to develop a mobile application that can be used taking orders. The company wants you to use the latest AJAX technologies during the implementation of the application to provide high quality interactions between the user and the application.
			The company has said that they will use a range of different devices for accessing the application including iPads, mobile phones and laptops. jQuery mobile was selected as the framework that should be used for the development of the application.
			They have not specified what user interface components that should be used for the application, leaving the overall design of the application up to you.</p>
	
		<p><b>User accounts</b></p>
		<ul type="circle">
			<li><b>Manager</b> - The application will be used by three different types of user. The manager of the company should be able to log into the application and view statistics about the orders that have been placed. He is mainly interested in how many orders were placed and the total cost for all the orders.</li>
			<li><b>Customer</b> - The customer should be able to select any amount of 5 products and add them to the cart for checkout. The checkout process should review the order and present a total for the order.</li>
			<li><b>Cook</b> - The cook should access to the quantity of each product type that are currently in the system. Whenever the cook makes more products, they should have the ability to update the stock records for each.</li>
		</ul>

		<p><b>Technical Specification</b></p>
		<ul type="circle">
			<li>The application must use the jQuery mobile framework to aid the cross platform viewing of the application.</li>
			<li>A database should be used for storing all information regarding the logins to the system and the order records.</li>
			<li>Node.js should be used for all server-side development. PHP should not be used.</li>
			<li>jQuery should be used for AJAX interactions, e.g., sending data from one page to another page.</li>
			<li>A login page should exist when the application is first loaded. Depending on the type of user that has logged into the system, they each should have a different dashboard.</li>
			<li>When orders are being placed in the application, short term storage in the form of sessions should be used to store the information.</li>
			<li>A register page should be added allowing new customers to sign up for an account.</li>
			<li>The company has indicated that they do not like the default theme that jQuery mobile comes with and have indicated that they would like an alternative style.</li>
			<li>As Node.js is quite a low-level framework, the Express.js framework should be added on top of the existing application to aid the development process.</li>
		</ul>

		<p><b>Note</b></p>
		<p>Planning is the key to this assignment. Before you begin, draw out each of the screens that will be used in the application. For each individual screen, consider what components will be added to the screen and how they will interact with the server-side programming language.
			Although it is possible to make a complicated database structure, keep it as simple as possible. Use as few database tables as possible. During the process of creating your database, use a client tool such as HeidiSQL to aid the creation of the database tables and viewing of records.
			The first step in this assignment is setting up your local development environment with Node.js.</p>
		<ul type="circle">
			<li>This is an individual assignment. No two assignments should be the same.</li>
			<li>Large code samples cannot be taken off the internet, only small code samples from the official documentation should be used.</li>
			<li>Any indication of plagiarism will result in a zero grade for the assignment.</li>
		</ul>
	
	</div>
</body>

<script src="javascripts/scriptHelp.js"></script>
<link rel="Stylesheet" href="stylesheets/stylesheetHelp.css" />

</html>