<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<title>Just-Eat</title>
	<link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
	<div data-role="navbar" data-grid="c">
		<ul>
			<li><a href="ForYou" id="pageForYou">For you</a></li>
			<li><a href="Login" id="pageLogin">Login</a></li>
			<li><a href="Register" id="pageRegister">Register</a></li>
			<li><a href="Help" class="ui-btn-active" id="pageHelp">Help</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		//TODO Mettre des information du site
	</div>
</body>

<script language="JavaScript" src="javascripts/scripHelp.js"></script>

</html>