<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<title>Just-Eat</title>
	<link rel="icon" type="image/png" href="images/favicon.png">

	<div data-role="navbar" data-grid="c">
		<ul>
			<li><a href="ForYou" id="pageForYou">For you</a></li>
			<li><a href="Login" id="pageLogin">Login</a></li>
			<li><a href="#" id="pageHelp">Help</a></li>
			<li><a href="#" id="pageLanguage">Language</a></li>
		</ul>
	</div><!-- /navbar -->
</head>

<body>
	<div>
		<img id=imageBackground src="images/background.jpg">
	</div>

</body>

<script src="javascripts/scriptIndex.js"></script>

</html>