<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="javascripts/scriptLogin.js"></script>

	<title>Just-Eat</title>
	<link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
	<div data-role="navbar" data-grid="c">
		<ul>
			<li><a href="ForYou" id="pageForYou">For you</a></li>
			<li><a href="Login" class="ui-btn-active" id="pageLogin">Login</a></li>
			<li><a href="Register" id="pageRegister">Register</a></li>
			<li><a href="Help" id="pageHelp">Help</a></li>
		</ul>
	</div><!-- /navbar -->

	<div style="text-align: center; vertical-align: middle;">
		<a href="./">
			<img id=imageLogo src="images/logo.png" width="100" height="100" style="margin: 2%;">
		</a>
	</div>

	<div>
		<label for="text-1">Username or Email</label>
		<input type="text" name="username" id="username" value="">
	
		<label for="password-1">Password</label>
		<input type="password" data-clear-btn="false" name="password" id="password" value="" autocomplete="off">
	
		<button class="ui-btn" id="buttonLogin">Login</button>

		<p style="text-align:center; color:red;" id="messageError"></p>
	</div>

	<script language="JavaScript" src="javascripts/scriptLogin.js"></script>

</body>

</html>