<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="stylesheets/Sombre.min.css" />
	<link rel="stylesheet" href="stylesheets/jquery.mobile.icons.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<title>Just-Eat - Manager</title>
	<link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
	<div data-role="page">
		<div data-role="header">
			<h1>Manager</h1>
		</div>

		<div class="ui-grid-a" style="margin-top: 2%; margin-bottom: 2%;">
			<div class="ui-block-a" style="width: 50%;">
				<center>
					<p><b id="totalOrder">Total order: 0</b></p>
				</center>
			</div>

			<div class="ui-block-b" style="width: 50%;">
				<center>
					<p><b id="totalPrice">Total price: 0€</b></p>
				</center>
			</div>
		</div>

		<hr style="margin-top: 2%; margin-bottom: 2%; margin-left: 15%; margin-right: 15%;">

		<div style="margin-right: 15%; margin-left: 15%;">
			<p><b>Description of purchase orders</b></p>

			<ul data-role="listview" data-inset="true" id="listviewOrder">
				<!--
				<li data-role="list-divider">Friday, October 8, 2010 <span class="ui-li-count">2</span></li>
				<li>
					<h2>Stephen Weber</h2>
					<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
					<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
					<p class="ui-li-aside"><strong>6:24</strong></p>
				</li>
				-->
			</ul>

		</div>
	</div>
</body>

<script src="javascripts/jquery-dateformat.js"></script>
<script src="javascripts/scriptManager.js"></script>

</html>